# TUGAS 2

**DIKRITISASI**

Diskritisasi adalah proses menempatkan nilai ke dalam wadah sehingga ada sejumlah kemungkinan status. Wadah itu sendiri diperlakukan sebagai nilai yang diurutkan dan diskrit.

Deskritisasi atau binning digunakan untuk mengubah atribut numerik menjadi atribut kategorikal. Perubahan tersebut dilakukan dengan mengkategorikan atribut numerik menjadi beberapa tingkatan atribut kategorikal.

**Metoda Binning:**

Diskritisasi Sederhana 

Partisi lebar yang sama (jarak):
 
- Membagi range kedalam N interval dengan ukuran yang sama: grid seragam
- Jika A dan B masing-masing adalah nilai terendah dan tertinggi dari atribut, lebar interval akan menjadi : W = (B –A)/N
- Kebanyakan langsung, tetapi outlier mendominasi presentasi
- Data Outlier dan menyimpang tidak ditangani dengan baik.


Partisi kedalaman sama (frekuensi):
- Membagi range kedalam N interval, masing-masing memuat jumlah sampel yang hampir sama
- Penskalaan data yang baik
- Penanganan atribut yang bersifat kategori bisa rumit.

In [11]:
import pandas as pd
import numpy as np

In [12]:
dataset_url="https://raw.githubusercontent.com/FirdatulFitriyah/datamining/main/iris.csv"
data=pd.read_csv(dataset_url)
pd.options.mode.chained_assignment = None

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [14]:
data[['sepal_length']]

     sepal_length
0             5.1
1             4.9
2             4.7
3             4.6
4             5.0
..            ...
145           6.7
146           6.3
147           6.5
148           6.2
149           5.9

[150 rows x 1 columns]

In [15]:
from sklearn.preprocessing import KBinsDiscretizer
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')

In [16]:
data['sepal_length']=est.fit_transform(data[['sepal_length']])

In [17]:
data['sepal_length']

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    2.0
146    2.0
147    2.0
148    2.0
149    1.0
Name: sepal_length, Length: 150, dtype: float64

In [18]:
from sklearn.preprocessing import KBinsDiscretizer
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
data['sepal_width']=est.fit_transform(data[['sepal_width']])

In [19]:
data['sepal_width']

0      2.0
1      1.0
2      2.0
3      1.0
4      2.0
      ...
145    1.0
146    0.0
147    1.0
148    2.0
149    1.0
Name: sepal_width, Length: 150, dtype: float64

In [20]:
from sklearn.preprocessing import KBinsDiscretizer
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
data['petal_length']=est.fit_transform(data[['petal_length']])

In [21]:
data['petal_length']

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    2.0
146    2.0
147    2.0
148    2.0
149    2.0
Name: petal_length, Length: 150, dtype: float64

In [22]:
from sklearn.preprocessing import KBinsDiscretizer
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
data['petal_width']=est.fit_transform(data[['petal_width']])

In [23]:
data['petal_width']

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    3.0
146    3.0
147    3.0
148    3.0
149    2.0
Name: petal_width, Length: 150, dtype: float64

**ENTROPY**

Entropi adalah nilai informasi yang menyatakan ukuran ketidakpastian(impurity) dari attribut dari suatu kumpulan obyek data dalam satuan bit

membuat sampel untuk dianalisis

In [24]:
sampel = data[["sepal_length"]]
sampel.describe()

       sepal_length
count    150.000000
mean       1.220000
std        0.947409
min        0.000000
25%        0.000000
50%        1.000000
75%        2.000000
max        3.000000

membuat category random untuk semua data

In [25]:
np.random.seed(0)
sampel["category"] = np.where(np.random.choice(2, sampel.shape[0]) < 1, "A", "B")
sampel

     sepal_length category
0             0.0        A
1             0.0        B
2             0.0        B
3             0.0        A
4             0.0        B
..            ...      ...
145           2.0        A
146           2.0        B
147           2.0        B
148           2.0        B
149           1.0        B

[150 rows x 2 columns]

membuat fungsi getOverCategory yang digunakan untuk menghitung data keseluruhan yang nantinya digunakan untuk menghitung entropy

In [26]:
def getOverCategory(col):
  group = sampel.loc[:, :].groupby("category").count()
  a = group.loc["A", col]
  b = group.loc["B", col]
  return (a, b, a+b)

fungsi splitter digunakan untuk membuat split antara value yang telah ditentukan lalu mengembalikan data yang telah dipisahkan

In [27]:
def splitter(value:float, col:str)->tuple:
  # get data less and greater from value
  less = sampel[sampel[col] <= value]
  greater = sampel[sampel[col] > value]

  # calculate into category for each data
  less_group = less.loc[:, :].groupby("category").count()
  greater_group = greater.loc[:, :].groupby("category").count()

  # get value based on category
  less_category_A = less_group.loc["A", col] 
  less_category_B = less_group.loc["B", col] 
  greater_category_A = greater_group.loc["A", col] 
  greater_category_B = greater_group.loc["B", col] 

  return (
      [less_category_A, less_category_B, less_category_A + less_category_B],
      [greater_category_A, greater_category_B, greater_category_A + greater_category_B]
  )

Membuat fungsi entropy untuk mencari nilai entropy

In [28]:
def entropy(d):
  r1 = (d[0] / d[2]) * np.log2(d[0] / d[2]) 
  r2 = (d[1] / d[2]) * np.log2(d[1] / d[2]) 
  return np.sum([r1, r2]) * -1

Membuat fungsi info

In [29]:
def info(d):
  r1 = (d[0][2] / sampel.shape[0]) * entropy(d[0])
  r2 = (d[1][2] / sampel.shape[0]) * entropy(d[1])
  return r1 + r2

Membuat fungsi gain untuk menghitung selisih antara entropy awal dengan yang baru.

In [30]:
def gain(Einitial, Enew):
  return Einitial - Enew

Membuat Dinitial

In [31]:
D = getOverCategory("sepal_length")
entropy_d = entropy(D)
print(D)
print(entropy_d)

(68, 82, 150)
0.993707106604508

In [34]:
np.random.seed(0)
data["category"] = np.where(np.random.choice(2,data.shape[0]) < 1,"A","B")
data

     sepal_length  sepal_width  petal_length  petal_width    species category
0             0.0          2.0           0.0          0.0     setosa        A
1             0.0          1.0           0.0          0.0     setosa        B
2             0.0          2.0           0.0          0.0     setosa        B
3             0.0          1.0           0.0          0.0     setosa        A
4             0.0          2.0           0.0          0.0     setosa        B
..            ...          ...           ...          ...        ...      ...
145           2.0          1.0           2.0          3.0  virginica        A
146           2.0          0.0           2.0          3.0  virginica        B
147           2.0          1.0           2.0          3.0  virginica        B
148           2.0          2.0           2.0          3.0  virginica        B
149           1.0          1.0           2.0          2.0  virginica        B

[150 rows x 6 columns]